@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  width: 1280px;
  background-color: #F2F2F2;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #000;
  outline: 5px solid tomato;
  outline-offset: -5px;
}

.grid {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1200px;
  background-color: #fff;
}

.image {
  display: block;
  border: none;
  max-width: 100%;
}

/* Header */

.page-header {
  display: flex;
  box-sizing: border-box;
  line-height: 24px;
  font-weight: 700;
  width: 1200px;
  z-index: 1;
  padding-left: 70px;
  padding-right: 70px;
}

/* Logo */
.header-logo {
  margin-bottom: -6px;
}

.navigation {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 44px;
  /* width: 892px; */
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 32px;
  width: 450px;
  padding: 0;
  margin: 0;
}

.navigation-item-current {
  border-bottom: 1px solid #756257;
}

.navigation-user-list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  gap: 0;
  width: 350px;
}

.navigation-user-item {
  box-sizing: border-box;
  width: 44px;
  height: 64px;
}

/* Visually-hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Links */
.navigation-link {
  display: block;
  padding: 20px 16px;
  color: #000;
  text-decoration: none;
  text-align: center;
}

.navigation-user-link {
  display: block;
  width: 44px;
  height: 64px;
}

.navigation-user-button {
  margin-left: 20px;
}

.header-search {
  background: url("../images/icons/search-icon.svg") no-repeat center;;
}

.header-favorites {
  background: url("../images/icons/heart-icon.svg") no-repeat center;;
}

/* Button */
.button {
  display: inline-block;
  padding: 8px 50px;
  font-family: inherit;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  border-color: transparent;
  border-radius: 4px;
}

.button-primary {
  background-color: #756157;
}

.favorites-amount {
  padding:0;
  margin: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  color: #fff;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  border: none;
  border-radius: 50%;
  background-color: #7DB54F;
  margin-top: 11px;
  margin-left: 20px;
}

/* Main */
.main-index {
  text-align: center;
}

.main-container {
  flex-grow: 1;
}

/* Hero block */
.hero {
  background-color: #000;
  color: #fff;
  background-image: url("../images/divider.svg"), url("../images/index-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: auto, cover;
  background-position: bottom center, center;
  min-height: 485px;
}

.main-index-image {
  margin: 0 auto;
  padding: 51px;
}

/* Lists */
.non-type-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Advantages */
.advantages-heading-wrapper {
  padding: 69px 274px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

/* Title */
.heading {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subheading {
  font-size: 22x;
  line-height: 26px;
  color: #333;
}

.advantages-heading {
  margin-bottom: 25px;
}

.advantages-subheading {
  margin-top: 0;
}

.advantages-description {
  margin-top: 0;
  font-size: 18px;
  line-height: 21px;
  color: #333;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 auto 30px;
  width: 175px;
}

.advantages-description-illustrated,
.newsletter-subheading {
  margin-top: 0;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
}

.illustrated {
  color: #fff;
  background-color: #82B3D3;
}

.advantages-item-illustrated {
  display: flex;
  color: #fff;
  background-color: #82B3D3;
}

.advantages-image {
  width: 800px;
  height: auto;
}

.advantages-title-wrapper,
.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 400px;
  min-height: 385px;
  box-sizing: border-box;
  padding: 112px 85px;
}

.advantages-item-services {
  padding: 183px 85px 81px;
}

.advantages-item:nth-child(odd):not(.illustrated) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-services-heading-wrapper {
  padding: 64px 347px;
}

/* Background of advantages-items */
.housing {
  background: url("../images/icons/advantages-icon-1.svg") no-repeat 163px 81px;
}

.food {
  background: url("../images/icons/advantages-icon-2.svg") no-repeat 163px 81px;
}

.souvenirs {
  background: url("../images/icons/advantages-icon-3.svg") no-repeat 163px 81px;
}

/* Index-search */
.hotel-search {
  padding: 96px 304px;
}
.hotel-search-heading {
  margin-top: 0;
  margin-bottom: 20px;
}

.hotel-search-subheading {
  margin-top: 0;
  margin-bottom: 54px;
}

.button-big {
  font-size: 20px;
  line-height: 36px;
}

.newsletter {
  padding: 96px 258px 104px;
}

.newsletter-form {
  display: flex;
  margin: 0;
}

.field {
  flex-grow: 1;
  border: none;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.newsletter-subheading {
  margin-bottom: 54px;
  padding: 0 120px;
}

.newsletter-inner-subheading {
  color: #333;
  margin-bottom: 54px;
  padding: 0 120px;
}

.newsletter.illustrated {
  background-image: url("../images/newsletter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.field {
  font-family: inherit;
  background-color: #F2F2F2;
  color: #000;
}

/* Button */
.button-secondary {
  background-color: #82B3D3;
}

.newsletter-button {
  background-color: #82B3D3;
  border-radius: 0 4px 4px 0;
  font-size: 20px;
  line-height: 36px;
}

/*Footer */
.page-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 45px 70px 35px;
}

.footer-social {
  min-width: 142px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
}

.footer-social-item {
  box-sizing: border-box;
  width: 47px;
  height: 40px;
  padding: 0 10px;
}

.vkontakte {
  background: url("../images/icons/social-icon-vk.svg") no-repeat center;
}

.telegram {
  background: url("../images/icons/social-icon-telegram.svg") no-repeat center;
}

.youtube {
  background: url("../images/icons/social-icon-youtube.svg") no-repeat center;
}

.footer-contacts-address-phone {
  font-family: inherit;
  font-style: normal;
  width: 331px;
  height: 40px;
  color: #000;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
}

/* Filter */
.catalog-filter {
  box-sizing: border-box;
  width: 1200px;
  padding: 35px 70px 70px;
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #333;
  color: #fff;
}

/* Title */
.catalog-filter-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  font-weight: 78px;
  width: 494px;
  line-height: 78px;
}

/* Breadcrumbs */
.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  color: #fff;
  text-decoration: none;
}

.breadcrumbs-item-icon {
  width: 12px;
  height: 12px;
}

.home {
  background: url("../images/icons/breadcrumbs-home-icon.svg") no-repeat center;
}

.arrow {
  background: url("../images/icons/breadcrumbs-arrow-icon.svg") no-repeat center;
}

.breadcrumbs-icon {
  background-image: url("../images/icons/breadcrumbs-home-icon.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-arrow {
  display: block;
  background-color: #333;
  background-image: url("../images/icons/breadcrumbs-arrow-icon.svg");
  background-repeat: no-repeat;
}

/* Title */
.filter-form-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 32px;
}

/* Form */
.filter-form {
  display: flex;
  justify-content: space-between;
}

.filter-form-item:not(:nth-last-child(1)) {
  margin-bottom: 16px;
}

.infrastructure-wrapper {
  display: flex;
  justify-content: space-between;
}

.price-wrapper {
  display: flex;
  justify-content: space-between;
  width: 550px;
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-self: flex-end;
  width: 191px;
}

.control {
  font-size: 18px;
  line-height: 23px;
}

.filter-form-group {
  display: flex;
  flex-direction: column;
  border: transparent;
}

/* Button */
.button-transparent {
  background-color: transparent;
}

/* Catalog */
.catalog-hotels {
  padding: 50px 70px 60px;
}

.catalog-sort-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.catalog-hotels-result {
  display: inline-block;
  align-self: center;
  margin: 0;
}

.select-switchers {
  display: flex;
  gap: 8px;
}

.switcher {
  display: block;
  width: 48px;
  height: 48px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.switcher-current {
  border-color: #000;
}

.select-control {
  width: 292px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  background-color: #fff;
  color: #000;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  margin-right: 62px;
}

.switcher-show-cards {
  background: url("../images/icons/view-icon-1.svg") no-repeat center;
}

.switcher-show-big-cards {
  background: url("../images/icons/view-icon-2.svg") no-repeat center;
}

.switcher-show-list {
  background: url("../images/icons/view-icon-3.svg") no-repeat center;
}

.hotel-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 80px;
}

.hotel-card {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 16px;
  box-sizing: border-box;
  width: 340px;
  height: 438px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding: 20px;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

/* Links */
.hotel-card-link {
  color: #000;
  text-decoration: none;
  margin: 0;
}

.hotel-card-text {
  display: block;
  width: 140px;
  font-size: 18px;
  line-height: 21px;
  color: #333;
}

.hotel-card-price {
  margin-left: auto;
  text-align: end;
}

.hotel-card-image {
  margin-bottom: 16px;
}

.hotel-rating {
  font-family: inherit;
  color: #333;
  background-color: #F2F2F2;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border-color: transparent;
  border-radius: 4px;
}

.button-active {
  background-color: #7DB54F;
}

.star {
  background-image: url("../images/icons/star-icon.svg");
}

/* Pagination */
.pagination {
  display: flex;
  gap: 8px;
}

.pagination-button {
  display: inline-block;
  text-align: center;
  line-height: 60px;
  background-color: #82B3D3;;
  font-weight: 400;
  width: 60px;
  height: 60px;
  padding: 0;
}

.pagination-current {
  font-weight: 700;
  color: #000;
}

.pagination-show-more {
  display: inline-block;
  padding: 0;
  text-align: center;
  width: 60px;
  height: 60px;
  font-weight: 400;
  font-size: 22x;
  line-height: 60px;
  color: #000;
}

/* Newsletter-inner */
.newsletter-inner {
  text-align: center;
}
