@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

body {
  margin: 0;
  display: flex;
  background-color: #F2F2F2;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #000;
}

.grid {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1200px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.image {
  display: block;
  border: none;
  max-width: 100%;
}

.page-header {
  display: flex;
  box-sizing: border-box;
  line-height: 24px;
  font-weight: 700;
  width: 1200px;
  z-index: 1;
  padding-left: 70px;
  padding-right: 70px;
}

.header-logo {
  margin-bottom: -6px;
}

.navigation {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 44px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 32px;
  width: 450px;
  padding: 0;
  margin: 0;
}

.navigation-item-current {
  border-bottom: 2px solid #756257;
}

.navigation-user-list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  gap: 0;
  width: 350px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation-link {
  display: block;
  padding: 20px 0;
  color: #000;
  text-decoration: none;
  text-align: center;
}

.navigation-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.navigation-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.navigation-user-link {
  display: block;
  position: relative;
  box-sizing: border-box;
  color: #000;
  width: 44px;
  height: 64px;
}

.navigation-user-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.navigation-user-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.navigation-user-button {
  margin-left: 20px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.button {
  display: inline-block;
  padding: 8px 50px;
  font-family: inherit;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  border-color: transparent;
  border-radius: 4px;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: #E5E5E5;
}

.button-primary {
  background-color: #756157;
}

.button-primary:hover {
  background-color: #615048;
}

.favorites-amount {
  position: absolute;
  padding:0;
  margin: 0;
  z-index: 100;
  width: 20px;
  height: 20px;
  color: #fff;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  border: none;
  border-radius: 50%;
  background-color: #7DB54F;
  margin-top: 11px;
  margin-left: 20px;
}

.main-index {
  text-align: center;
}

.main-container {
  flex-grow: 1;
}

.hero {
  background-color: #82B3D3;
  color: #fff;
  background-image: url("../images/divider.svg"), url("../images/index-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: auto, cover;
  background-position: bottom center, center;
  min-height: 485px;
}

.main-index-image {
  margin: 0 auto;
  padding-top: 51px;
}

.non-type-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages-heading-wrapper {
  padding: 69px 274px;
  margin-bottom: 21px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-title-wrapper,
.advantages-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 400px;
  min-height: 385px;
  box-sizing: border-box;
  padding: 112px 85px;
}

.advantages-title-wrapper {
  padding-top: 102px;
  padding-bottom: 102px;
}

.advantages-title-wrapper::before {
  display: block;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  content: "";
  width: 60px;
  height: 2px;
  left: 50%;
  bottom: 50%;
  margin-left: -30px;
  margin-top: 1px;
}

.advantages-item-main::before {
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
  width: 60px;
  height: 2px;
  left: 50%;
  bottom: 50%;
  margin-left: -30px;
  margin-top: 1px;
}

.heading {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-heading {
  margin-bottom: 25px;
}

.advantages-subheading {
  margin-top: 0;
  margin-bottom: 0;
}

.advantages-description {
  margin-top: 0;
  font-size: 18px;
  line-height: 21px;
  color: #333;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 auto 30px;
  width: 175px;
}

.advantages-description-illustrated,
.newsletter-subheading {
  margin-top: 0;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
}

.advantages-description-illustrated {
  margin-bottom: 0;
}

.illustrated {
  color: #fff;
  background-color: #82B3D3;
}

.advantages-item-illustrated {
  display: flex;
  color: #fff;
  background-color: #82B3D3;
}

.advantages-image {
  width: 800px;
  height: auto;
}

.advantages-item-services {
  padding-top: 183px;
  padding-bottom: 81px;
}

.advantages-item:nth-child(odd):not(.illustrated) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-services-heading-wrapper {
  padding: 64px 347px;
}

.housing {
  background: url("../images/icons/advantages-icon-1.svg") no-repeat 50% 81px;
}

.food {
  background: url("../images/icons/advantages-icon-2.svg") no-repeat 50% 81px;
}

.souvenirs {
  background: url("../images/icons/advantages-icon-3.svg") no-repeat 50% 81px;
}

.hotel-search {
  padding: 96px 304px;
}
.hotel-search-heading {
  margin-top: 0;
  margin-bottom: 20px;
}

.hotel-search-subheading {
  margin-top: 0;
  margin-bottom: 54px;
}

.button-big {
  font-size: 20px;
  line-height: 36px;
}

.newsletter {
  padding: 96px 258px 104px;
}

.newsletter-form {
  display: flex;
  margin: 0;
}

.field {
  flex-grow: 1;
  border: transparent;
  box-sizing: border-box;
  border-radius: 4px 0 0 4px;
  padding: 12px 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.newsletter-subheading {
  margin-bottom: 54px;
  padding: 0 120px;
}

.newsletter-inner-subheading {
  color: #333;
  margin-bottom: 54px;
  padding: 0 120px;
}

.newsletter.illustrated {
  background-image: url("../images/newsletter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.field {
  font-family: inherit;
  background-color: #F2F2F2;
  color: #000;
}

.newsletter-button {
  background-color: #82B3D3;
  border-radius: 0 4px 4px 0;
  font-size: 20px;
  line-height: 36px;
  cursor: pointer;
}

.newsletter-button:hover {
  background-color: #68A2CA;
}

.newsletter-button:active {
  background-color: #82B3D3;
}

.button-secondary {
  background-color: #82B3D3;
}

.button-secondary:hover {
  background-color: #68A2CA;
}

.page-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 45px 70px 35px;
}

.footer-social {
  min-width: 142px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.social-button {
  display: block;
  box-sizing: border-box;
  color: #83B3D3;
  width: 47px;
  height: 40px;
}

.social-button:hover {
  color: #68A2CA;
}

.social-button:focus {
  color: #68A2CA;
}

.social-button:active {
  color: rgba(104, 162, 202, 0.3);
}

.footer-social-item {
  position: relative;
}

.social-icon {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.footer-contacts-address-phone {
  font-family: inherit;
  font-style: normal;
  width: 331px;
  height: 40px;
  color: #000;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
}

.htmlacademy-link {
  color: #000;
  align-self: center;
}

.footer-contacts-address-phone:hover,
.htmlacademy-link:hover {
  color: #756157;
}

.footer-contacts-address-phone:focus,
.htmlacademy-link:focus {
  color: #756157;
}

.footer-contacts-address-phone:active,
.htmlacademy-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.catalog-filter {
  box-sizing: border-box;
  width: 1200px;
  padding: 35px 70px 70px;
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #333;
  color: #fff;
}

.catalog-filter-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  font-weight: 78px;
  width: 494px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  display: block;
  color: #fff;
  text-decoration: none;
}

.home {
  background: url("../images/icons/breadcrumbs-home-icon.svg") no-repeat 50% 55%;
  box-sizing: border-box;
  width: 12px;
  height: 26px;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 28px;
}

.breadcrumbs-item::after {
  position: absolute;
  right: -17px;
  top: 10px;
  content: "";
  display: block;
  width: 6px;
  height: 10px;
  background: url("../images/icons/breadcrumbs-arrow-icon.svg") no-repeat center;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-item:last-child::after {
  margin-right: 0;
}

.filter-form-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 32px;
}

.filter-form {
  display: flex;
  justify-content: space-between;
}

.filter-form-item:not(:nth-last-child(1)) {
  margin-bottom: 16px;
}

.infrastructure-wrapper {
  display: flex;
  justify-content: space-between;
}

.price-wrapper {
  display: flex;
  justify-content: space-between;
  width: 550px;
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-self: flex-end;
  width: 191px;
}

.control {
  font-size: 18px;
  line-height: 23px;
  cursor: pointer;
}

.filter-form-group {
  display: flex;
  flex-direction: column;
  border: none;
}

.filter-form-group-price {
  display: flex;
  margin: 0;
  padding: 0;
  width: 286px;
  flex-wrap: wrap;
  align-content: space-between;
  border: none;
  box-sizing: border-box;
}

.price-field {
  box-sizing: border-box;
  appearance: none;
  padding: 12px 20px;
  width: 142px;
  background-color: #F2F2F2;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
}

/* Chrome, Safari, Edge, Opera */
.price-field::-webkit-outer-spin-button,
.price-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.price-field {
  appearance: textfield;
}

.min-price-field {
  border-radius: 4px 0 0 4px;
  border: none;
  margin-right: 2px;
}

.max-price-field {
  border-radius: 0 4px 4px 0;
  border: none;
}

.price-slider {
  flex-grow: 1;
}

.button-transparent {
  background-color: transparent;
}

.button-transparent:hover {
  color: rgba(255, 255, 255, 0.7);
}

.button-transparent:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-transparent:focus {
  outline: 3px solid #83B3D3;
}

.button-transparent:focus:not(:focus-visible) {
  outline: none;
}

.button-transparent:focus-visible {
  outline: 3px solid #83B3D3;
}

.catalog-hotels {
  padding: 50px 70px 60px;
}

.catalog-sort-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.catalog-hotels-result {
  display: inline-block;
  align-self: center;
  margin: 0;
}

.select-switchers {
  display: flex;
  gap: 8px;
  position: relative;
}

.switcher {
  display: block;
  width: 48px;
  height: 48px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.switcher:hover,
.switcher:active {
  border-color: #000;
}

.switcher:focus {
  outline-color: #68A2CA;
}

.switcher-current {
  border-color: #000;
}

.select-control {
  appearance: none;
  width: 292px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  background-color: #fff;
  color: #000;
  border: 2px solid #E5E5E5;
  padding: 14px 20px;
  border-radius: 4px;
  margin-right: 62px;
  background: url("../images/icons/select-filter-arrow-icon.svg") no-repeat 260px 50%;
}

.select-control:hover {
  border-color: #68A2CA;
}

.select-control:active {
  border-color: #3F5E72;
}

.select-control:focus {
  outline-color: #68A2CA;
}

.select-control:disabled {
  outline-color: rgba(0, 0, 0, 0.3);
}

.switcher-show-cards {
  background: url("../images/icons/view-icon-1.svg") no-repeat center;
}

.switcher-show-big-cards {
  background: url("../images/icons/view-icon-2.svg") no-repeat center;
}

.switcher-show-list {
  background: url("../images/icons/view-icon-3.svg") no-repeat center;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 80px;
}

.hotel-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "img     img"
    "title   title"
    "text    price"
    "primary favorite"
    "stars   rating";
  gap: 16px 20px;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  width: 340px;
  min-height: 438px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.hotel-card-link {
  width: 300px;
  grid-area: img;
  color: #000;
  text-decoration: none;
  margin: 0;
}

.hotel-card-title {
  width: 300px;
  grid-area: title;
  margin: 0;
}

.hotel-card-title-link {
  color: #000;
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.hotel-card-text {
  grid-area: text;
  width: 140px;
  font-size: 18px;
  line-height: 21px;
  color: #333;
}

.hotel-card-price {
  grid-area: price;
  margin-left: auto;
  text-align: end;
}

.grid-button-primary {
  grid-area: primary;
  padding: 8px 26px;
}

.grid-button {
  grid-area: favorite;
  padding: 8px 18px;
}

.hotel-rating {
  grid-area: rating;
  font-family: inherit;
  color: #333;
  background-color: #F2F2F2;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  padding: 8px 22px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border-color: transparent;
  border-radius: 4px;
}

.button-active {
  background-color: #7DB54F;
}

.button-active:hover {
  background-color: #6C9E42;
}

.button-active:active {
  background-color: #7DB54F;
}

.star {
  grid-area: stars;
  width: 17px;
  height: 18px;
  background: url("../images/icons/star-icon.svg") space left;
}

.star-two {
  width: 40px;
}

.star-three {
  width: 63px;
}

.star-four {
  width: 86px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.pagination-button {
  display: inline-block;
  text-align: center;
  line-height: 60px;
  background-color: #82B3D3;
  font-weight: 400;
  width: 60px;
  height: 60px;
  padding: 0;
}

.pagination-button:hover:not(.pagination-current) {
  background-color: #68A2CA;
}

.pagination-button:active:not(.pagination-current) {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
  font-weight: 700;
  color: #000;
  background-color: #F2F2F2;
}

.pagination-show-more {
  display: inline-block;
  padding: 0;
  text-align: center;
  width: 60px;
  height: 60px;
  font-weight: 400;
  line-height: 60px;
  color: #000;
}

.newsletter-inner {
  text-align: center;
}
